# Logs
logs
*.log
*.log*

# Broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.pid.*
*.seed

# Coverage
lib-cov
coverage
*.lcov
.nyc_output

# Packing
.grunt
.yarn
.npm
bower_components
.lock-wscript

# Compiled binary addons
build/Release

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Cache/History/Build
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
*.tsbuildinfo
.node_repl_history
.cache
.tmp
.out
.parcel-cache
cache
out
dist

# Yarn
.yarn-integrity
.yarn
.pnp.*

# dotenv files
.env
.env.*

# Lockfiles
*.lock
*.lockb

# Temporary files
*.log
*.log.*
*.pid
*.pid.*
*.swp
*.swo
*.swn

# Editor/OS
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
